<div class="inquiry message outgoing" ng-class="{'focused': $ctrl.isFocused}">

    <div class="choice" ng-repeat="choice in $ctrl.model.choices">
        <input class="choice-text" type="text" placeholder="type the choice text here"
               ng-model="choice.text" ng-blur="$ctrl.isFocused = false"
               ng-focus="$ctrl.isFocused = true"/><br>
        <div class="choice-result message-id not-empty">
            <i class="message-id-icon fa fa-location-arrow" aria-hidden="true">
            </i><input class="choice-result-text message-id-text" type="text" value="said-yes"
                       placeholder="type target message id here" ng-model="choice.result"
                       ng-blur="$ctrl.isFocused = false" ng-focus="$ctrl.isFocused = true"/>
        </div>

        <button title="go to target" class="goto-button btn btn-md btn-default">
            <span class="goto-icon fa fa-crosshairs" aria-hidden="true"></span>
        </button>
    </div>
    <button title="delete this message" class="delete-button btn btn-md btn-danger"
            ng-click="$ctrl.onDelete(item)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
<hr/>