<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foo Bar</title>
    <script src="bower_components/angular/angular.js"></script>

    <script>
        a = angular.module("app", []);

        a.controller("main", ["$scope", "conversations", function ($scope, conversations) {
            this.conversation = conversations.add();
        }])

        a.controller("main2", ["$scope", "conversations", function ($scope, conversations) {
            this.conversation = conversations.add();
        }])

        a.controller("debug", function(conversations) {
            this.d = conversations;
        })

        a.component("message", {
            bindings: {

            }
        })


        function Conversation(name) {
                this.character = name || "no name";
                this.messages = [];
            }
        a.service("conversations", function() {
            this.all = [];
            this.add = function() {
                var c = new Conversation()
                this.all.push(c)
                return c;
            }
            this.delete = function(conversation) {
                var i = this.all.indexOf(conversation);
                if (i >= 0) {
                    this.all.splice(i, 1);
                }
            }
        })

    </script>

</head>
<body ng-app="app">
<div ng-controller="main as $ctrl">
    {{ $ctrl.conversation.character }}
    <input type="text" ng-model="$ctrl.conversation.character">
</div>
<div ng-controller="main2 as $ctrl">
    {{ $ctrl.conversation.character }}
    <input type="text" ng-model="$ctrl.conversation.character">
</div>
<pre ng-controller="debug as $ctrl">
{{ $ctrl.d | json }}
</pre>
</body>
</html>