<div ng-controller="EditController as $ctrl">
    <div class="conversations">
        <conversation ng-repeat="conversation in $ctrl.conversations" model="conversation" on-remove="$ctrl.askRemoveConversation(conversation)">
        </conversation>
        <div class="add-conversation">
            <div class="conversation-header">
                <button ng-click="$ctrl.addConversation()" class="conversation-image">
                    <span class="glyphicons glyphicon-plus"></span>
                </button>
                <p class="conversation-name">add conversation</p>
            </div>
        </div>
    </div>

</div>